@charset "UTF-8";
.maps {
  width: 100%;
  height: 400px;
  border-top: 10px solid #1f1e1e; }

.input_submit, .jobs button a, .button-menu {
  background-color: #1f1e1e;
  padding: 10px;
  border-radius: 10px; }

.since, .reviews, .years {
  width: 200px;
  height: 40px;
  padding: 8px;
  z-index: 9;
  color: #ffffff;
  font-size: 1.8rem;
  background-color: #1f1e1e; }

/* ------------------------------------------CARTA--------------------------------------- */
.body-menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-area: 1fr 1fr 1fr;
  grid-template-areas: "header" "main" "footer"; }

header {
  grid-area: header; }

.main-menu {
  background: linear-gradient(to bottom, #ffffff, #a6a6a6);
  grid-area: main; }

footer {
  grid-area: footer; }

.galery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .galery img {
    width: 400px;
    height: auto;
    filter: grayscale(100%);
    transition: all 2s; }

.grid-picture:hover {
  filter: none;
  transform: scale(1.1); }

.subtitle-menu {
  text-align: center;
  font-weight: 400;
  font-size: 2.8rem;
  font-family: sans-serif;
  padding-bottom: 20px;
  margin-top: 20px; }

.parrafo-menu {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  font-family: sans-serif;
  padding-bottom: 20px;
  margin-top: 20px; }

.link-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  .link-menu img {
    width: 400px;
    align-self: center; }

.button-menu {
  background-color: #1f1e1e;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  width: 380px;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  padding: 10px;
  margin: 30px 0;
  align-self: center; }
  .button-menu:hover {
    transform: scale(1.1);
    transition: 1s; }
  .button-menu a {
    text-decoration: none;
    color: #ffffff; }

/* -----------------------------------------NOSOTROS------------------------------ */
.body-nosotros {
  display: grid;
  grid-template-columns: 1fr;
  grid-area: 1fr 1fr 1fr 1fr;
  grid-template-areas: "header" "main" "story" "reviews" "footer"; }

header {
  grid-area: header; }

.main-nosotros {
  grid-area: main; }
  .main-nosotros h2 {
    text-align: center;
    padding: 20px;
    font-size: 2.4rem; }

.story {
  grid-area: story;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 0;
  width: 100%;
  height: 400px; }
  .story p {
    width: 100%;
    font-size: 1.6rem; }
  .story h5 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    line-height: 200%;
    font-family: sans-serif;
    margin-bottom: 12px; }

.container-story-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto; }

.container-story {
  padding: 28px;
  border-radius: 24px;
  box-shadow: 0px 6px 9px rgba(89, 73, 30, 0.16);
  border: none;
  width: 100%;
  height: auto;
  font-size: 1.8rem;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.img-story {
  display: flex;
  justify-content: end;
  align-content: center;
  padding: 40px; }
  .img-story img {
    width: 400px;
    height: auto;
    border-radius: 20px; }

.reviews .reviews-nosotros {
  grid-area: reviews;
  justify-self: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-size: 1.8rem;
  background-color: #1f1e1e;
  height: 40px;
  width: 200px;
  padding: 8px;
  margin-bottom: -26px;
  z-index: 9; }

.container-card {
  grid-area: container-card;
  width: 100%;
  height: 400px;
  border-bottom: 10px solid #1f1e1e;
  border-top: 10px solid #1f1e1e;
  display: flex;
  justify-content: space-evenly;
  padding: 32px; }

.card-1 .card-2 .card-3 img {
  width: 20%;
  height: auto; }

.card-5 {
  grid-area: card-5; }

.card-6 {
  grid-area: card-6; }

footer {
  grid-area: footer; }

/* ---------------------------------------------RESERVAS---------------------------------------------- */
.body-reservas {
  display: grid;
  grid-template-columns: 1fr;
  grid-area: 1fr 1fr 1fr;
  grid-template-areas: "header" "main" "footer"; }

header {
  grid-area: header; }

.main-reservas {
  grid-area: main;
  background: linear-gradient(to bottom, #ffffff, #a6a6a6);
  height: 500px;
  margin-top: 40px; }

footer {
  grid-area: footer; }

.hour {
  text-align: center;
  line-height: 30px;
  font-size: 1.8rem;
  padding: 20px; }

.title-reservas {
  text-align: center;
  font-size: 1.4rem;
  padding: 20px; }

.button-reservas {
  justify-self: center; }

.container-reservas {
  display: flex;
  flex-direction: column; }

/* -----------------------------------------RRHH/FORMULARIO------------------------------ */
.jobs-rrhh {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  background: linear-gradient(to bottom, #ffffff, #a6a6a6); }

.jobs-title {
  font-size: 2.2rem;
  padding: 10px;
  margin-top: 20px;
  text-align: center; }

.jobs_parrafo {
  font-size: 1.6rem;
  padding: 10px;
  margin-bottom: 20px;
  color: #a6a6a6; }

.form {
  width: 380px;
  height: auto; }
  .form label {
    font-size: 1.4rem;
    margin-bottom: 4px; }

.input {
  background-color: rgba(128, 128, 128, 0.192);
  border: 1px solid #a6a6a6;
  border-radius: 10px;
  height: 30px;
  font-size: var(--sm);
  padding: 16px;
  margin: 12px 0;
  width: 100%;
  cursor: pointer; }

fieldset {
  font-size: 1.4rem;
  margin-bottom: 10px 0;
  padding: 20px; }

.input-cv {
  padding-bottom: 40px;
  font-size: 1.4rem; }

.legend {
  font-size: 1.4rem; }

.mensaje {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.192);
  border: 1px solid #a6a6a6;
  border-radius: 10px;
  height: auto;
  font-size: var(--sm);
  padding: 16px;
  margin: 12px 0;
  font-family: 'Lato'; }

.input_submit, .jobs button a, .button-menu {
  background-color: #1f1e1e;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  width: 380px;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  padding: 10px;
  margin-bottom: 30px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --sm: 14px;
  --md: 18px;
  --lg: 24px; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: 'Lato', sans-serif; }

/* ----------------------------------INDEX/HEADER------------------------------------------ */
.body-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "header header header" "img img img" ". since ." "story story story" ". reviews ." "container-card container-card container-card" ". years ." "medals medals medals" ". title-location ." "maps maps maps" "footer footer footer"; }

.header {
  grid-area: header;
  height: 80px; }

.logo {
  width: 80px;
  height: auto;
  align-self: center;
  padding: 8px;
  margin-top: 4px; }

.navbar-nav {
  display: flex;
  justify-content: space-evenly; }
  .navbar-nav li a {
    padding: 6px;
    font-size: 1.2rem; }

/* ----------------------------------MAIN/IMG------------------------------------------ */
.img {
  grid-area: img;
  position: relative;
  background-image: url("../multimedia/pic/pizza-cuadrada-rucula.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  border-bottom: 10px solid #1f1e1e;
  display: flex;
  justify-content: center;
  align-items: center; }
  .img:hover {
    transition: all 2s;
    height: 450px; }

.logo-container img {
  width: 250px; }

/* ----------------------------------MAIN/DIVISIÓN STORY----------------------------------- */
.since {
  grid-area: since;
  justify-self: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-size: 1.8rem;
  background-color: #1f1e1e;
  height: 40px;
  width: 200px;
  padding: 8px;
  margin-top: -26px;
  z-index: 9; }

.story {
  grid-area: story;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 0;
  width: 100%;
  height: 400px; }
  .story p {
    width: 100%;
    font-size: 1.6rem; }
  .story h5 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    line-height: 200%;
    font-family: sans-serif;
    margin-bottom: 12px; }

.container-story-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto; }

.link-nosotros {
  text-decoration: none;
  color: #1f1e1e; }

.secondary-button {
  text-decoration: none;
  color: #1f1e1e;
  margin-top: 8px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 6px 9px 0px rgba(89, 73, 30, 0.16); }

.container-story {
  padding: 28px;
  border-radius: 24px;
  box-shadow: 0px 6px 9px rgba(89, 73, 30, 0.16);
  border: none;
  width: 100%;
  height: auto;
  font-size: 1.8rem;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.img-story {
  display: flex;
  justify-content: end;
  align-content: center;
  padding: 40px; }
  .img-story img {
    width: 400px;
    height: auto;
    border-radius: 20px; }

/* ----------------------------------MAIN/DIVISIÓN RESEÑAS------------------------------- */
.reviews {
  grid-area: reviews;
  justify-self: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-size: 1.8rem;
  background-color: #1f1e1e;
  height: 40px;
  width: 200px;
  padding: 8px;
  margin-bottom: -26px;
  z-index: 9; }

.container-card {
  grid-area: container-card;
  width: 100%;
  height: 400px;
  border-bottom: 10px solid #1f1e1e;
  border-top: 10px solid #1f1e1e;
  display: flex;
  justify-content: space-evenly;
  padding: 32px; }

.card-1 .card-2 .card-3 img {
  width: 20%;
  height: auto; }

.card-5 {
  grid-area: card-5; }

.card-6 {
  grid-area: card-6; }

/* ----------------------------------MAIN/DIVISIÓN TRAYECTORIA----------------------------- */
.years {
  grid-area: years;
  justify-self: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-size: 1.8rem;
  background-color: #1f1e1e;
  height: 40px;
  width: 400px;
  padding: 8px;
  margin-top: -26px;
  z-index: 9; }

.container-medals {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-evenly; }

.medals-1 {
  width: 24%;
  height: auto; }

.medals-2 {
  width: 24%;
  height: auto; }

.medals-3 {
  width: 24%;
  height: auto; }

.medals {
  grid-area: medals;
  display: flex;
  justify-content: center; }

/* ----------------------------------MAIN/DIVISIÓN UBICACIÓN------------------------------ */
.title-location {
  grid-area: title-location;
  justify-self: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-size: 1.8rem;
  background-color: #1f1e1e;
  height: 40px;
  width: 300px;
  padding: 8px;
  margin-bottom: -25px;
  margin-top: -20px;
  z-index: 9; }

.maps {
  grid-area: maps;
  width: 100%;
  height: 400px;
  border-top: 10px solid #1f1e1e; }

.gps {
  width: 100%;
  height: 390px;
  filter: grayscale(1); }

/* ----------------------------------FOOTER----------------------------------- */
.footer {
  grid-area: footer;
  width: 100%;
  height: 100%;
  background-color: #a6a6a6;
  border-top: 10px solid #a6a6a6; }

.container-footer {
  display: flex;
  justify-content: space-evenly;
  align-content: center; }

.logo_footer {
  width: 200px;
  height: auto; }

.contact {
  color: #1f1e1e;
  width: 240px;
  height: 200px;
  align-self: center;
  padding: 30px; }
  .contact h4 {
    color: #1f1e1e;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 12px; }
  .contact ul li {
    list-style: none;
    text-align: center;
    font-size: 1.2rem; }

.connect {
  color: #1f1e1e;
  padding: 30px; }
  .connect h4 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 12px;
    font-weight: bold; }
  .connect p {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 12px; }
  .connect a img {
    width: 30px; }
  .connect ul {
    display: flex;
    justify-content: center; }
  .connect ul li {
    text-decoration: none;
    list-style: none;
    padding: 20px;
    margin-right: 10px; }
  .connect ul li a {
    width: 200px;
    height: 200px;
    color: #1f1e1e; }

.jobs {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center; }
  .jobs h4 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold; }
  .jobs button {
    background-color: #1f1e1e;
    padding: 10px;
    border-radius: 10px;
    margin: 4px 0; }
  .jobs button a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3rem; }

.copywrite {
  text-align: center;
  background-color: #1f1e1e;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 6px; }

/* ----------------------------------MEDIA SCREEN MOBILE------------------------------- */
@media screen and (max-width: 480px) {
  .body-index {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "img" "since" "story" "reviews" "container-card" "years" "medals" "title-location" "maps" "footer"; }
  .header {
    flex-direction: column;
    height: auto; }
  .logo {
    width: 100px; }
  .nav-menu {
    align-items: center;
    gap: 4px;
    margin: 20px 0; }
  .since {
    width: 100%;
    justify-self: auto;
    font-size: 1.3rem; }
  .story {
    flex-direction: column;
    height: auto; }
  .container-story-text {
    width: 90%;
    height: auto;
    padding: 24px; }
  .img-story img {
    width: 100%; }
  .container-card {
    flex-direction: column;
    width: 400px;
    height: auto;
    gap: 10px;
    margin-left: 32px;
    border-bottom: none; }
  .medals {
    align-items: center;
    height: 150px;
    margin-bottom: 20px; }
  .container-footer {
    flex-direction: column;
    align-items: center; }
  .reviews {
    width: 100%;
    justify-self: auto;
    font-size: 1.3rem; }
  .years {
    width: 100%;
    justify-self: auto;
    font-size: 1.3rem; }
  .title-location {
    width: 100%;
    justify-self: auto;
    font-size: 1.3rem; }
  .jobs button {
    margin-bottom: 12px; } }

@media screen and (max-width: 768px) {
  .body-index {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "img" "since" "story" "reviews" "container-card" "years" "medals" "title-location" "maps" "footer"; }
  .header {
    flex-direction: column;
    height: auto; }
  .logo {
    width: 100px; }
  .nav-menu {
    align-items: center;
    gap: 4px;
    margin: 20px 0; }
  .since {
    width: 100%;
    justify-self: auto;
    font-size: 1.3rem; }
  .story {
    flex-direction: column;
    height: auto; }
  .container-story-text {
    width: 90%;
    height: auto;
    padding: 24px; }
  .img-story img {
    width: 100%; }
  .container-card {
    flex-direction: column;
    width: 400px;
    height: auto;
    gap: 10px;
    margin-left: 190px;
    border-bottom: none; }
  .medals {
    align-items: center;
    height: 150px;
    margin-bottom: 20px; }
  .container-footer {
    flex-direction: column;
    align-items: center; }
  .reviews {
    width: 100%;
    justify-self: auto;
    font-size: 1.3rem; }
  .years {
    width: 100%;
    justify-self: auto;
    font-size: 1.3rem; }
  .title-location {
    width: 100%;
    justify-self: auto;
    font-size: 1.3rem; }
  .jobs button {
    margin-bottom: 12px; } }
